Django==3.2.9
Keras-Preprocessing==1.1.2
Markdown==3.3.4
Pillow==8.4.0
PyJWT==2.3.0
PyMySQL==1.0.2
PySocks==1.7.1
PyYAML==6
Theano==0.8.2
TwitterAPI==2.7.5
Unidecode==1.3.2
Werkzeug==2.0.2
absl-py==0.15.0
aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.4.1
anyascii==0.3.0
asgiref==3.4.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
bootstrap4==0.1.0
cachetools==4.2.4
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.3
contractions==0.0.52
cryptography==36.0.0
cycler==0.11.0
dataclasses==0.6
defusedxml==0.7.1
django-allauth==0.46.0
django-rest-auth==0.9.5
django.js
djangorestframework==3.12.4
elasticsearch==7.15.1
emoji==1.6.1
fake-useragent==0.1.11
flatbuffers==2
gast==0.4.0
gensim==4.1.2
geographiclib==1.52
geopy==2.2.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googletrans==4.0.0rc1
googletransx==2.4.2
grpcio==1.41.1
h11==0.9.0
h2==3.2.0
h5py==3.5.0
hpack==3.0.0
hstspreload==2021.11.1
httpcore==0.9.1
httpx
hyperframe==5.2.0
idna
joblib==1.1.0
keras==2.7.0
kiwisolver==1.3.2
libclang==12.0.0
lxml==4.6.3
matplotlib==3.4.3
multidict==5.2.0
multitasking==0.0.9
mysqlclient==2.1.0
nltk==3.6.5
numpy==1.21.2
oauthlib==3.1.1
opt-einsum==3.3.0
pandas==1.3.4
pip==21.3.1
protobuf==3.19.1
pyahocorasick==1.4.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycares==4.1.2
pycparser==2.2
pyparsing==3.0.5
python-dateutil==2.8.2
python-dotenv==0.19.1
python3-openid==3.2.0
pytz==2021.3
regex==2021.10.21
requests
requests-oauthlib==1.3.0
rfc3986==1.5.0
rsa==4.7.2
schedule==1.1.0
scikit-learn==1.0.1
scipy==1.7.1
seaborn==0.11.2
setuptools==49.2.1
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
soupsieve==2.2.1
sqlparse==0.4.2
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.21.0
termcolor==1.1.0
text2emotion==0.0.5
textblob==0.17.1
textsearch==0.0.21
threadpoolctl==3.0.0
tqdm==4.62.3
typing-extensions==3.10.0.2
unicode==2.8
urllib3==1.26.7
wheel==0.37.0
wrapt==1.13.3
xgboost==1.5.0
yarl==1.7.0
yfinance==0.1.63