<!DOCTYPE html>
<html lang="en">

<head>

    {% include "head_part.html" %}
    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    {% include "sidebar_part.html" %}


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            {% include "topbar_part.html" %}

            <!-- Begin Page Content -->
            <div id="loader" style="text-align:center; display:none;"><img src="../static/img/loader.gif" alt="loading"></div>
            <div id="main-content" class="container-fluid">

                <!-- Page Heading -->
                <div class="align-items-center justify-content-between mb-4">

                    <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
                    <p class="mb-4">This page integrates with Machine learning to predict the stock price of Microsoft.
                        This application was initially programmed to show predictive stock price based on company that user selects.
                        Due to price of calling Twitter API, Only tweets about Microsoft were stored in Database on the period from May to September in 2021.</p>


                    <div class="row">
                        <div class="input-group mb-4 col-xl-8">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon">Selected Date</div>
                            </div>
                            <input type="text" name="daterange" class="form-control" aria-label="Input group example" aria-describedby="btnGroupAddon" />
                        </div>
                        <div class="buttons mb-4 col-xl-2">
                            <button href="#" id="fetch-tweets" class="d-none d-sm-inline-block btn btn-middle btn-primary shadow-sm"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Fetch Tweets</button>
                        </div>
                        <div class="buttons mb-4 col-xl-2">
                            <button href="#" id="generate-reports" class="d-none d-sm-inline-block btn btn-middle btn-primary shadow-sm"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Download Tweet CSV</button>
                        </div>
                    </div>
                </div>


                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Stock Index - Adj Closing Value</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="finance-chart" ></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Polarity Ratio</h6>
<!--                                <div class="dropdown no-arrow">-->
<!--                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"-->
<!--                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>-->
<!--                                    </a>-->
<!--                                    <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;fade-in"-->
<!--                                         aria-labelledby="dropdownMenuLink">-->
<!--                                        <div class="dropdown-header">Dropdown Header:</div>-->
<!--                                        <a class="dropdown-item" href="#">Action</a>-->
<!--                                        <a class="dropdown-item" href="#">Another action</a>-->
<!--                                        <div class="dropdown-divider"></div>-->
<!--                                        <a class="dropdown-item" href="#">Something else here</a>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="tweet-circle-chart" data-url="{% url 'visualize_tweet_report' %}"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-8">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Stock Index - Prediction</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="prediction-chart" ></canvas>
                                </div>
                                <hr>
                                <div id="description">Train set is pre-defined <b>20%</b> of the date that user selects, which means machine learning model predicts stock price for only 20% of the date that user defines.
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Column -->
                    <div class="col-xl-4 mb-12">

                        <!-- Project Card Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Prediction Accuracy</h6>
                            </div>
                            <div class="card-body">
                                <div id="rf-accuracy">
                                    <h4 class="small font-weight-bold">Random Forest <span
                                            class="float-right">20%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div id="xgb-accuracy">
                                    <h4 class="small font-weight-bold">XGBoost <span
                                            class="float-right">20%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <hr>
                                <div>The longer time user select, the higher the accuracy goes. More data yields more accurate model.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-6 mb-2">
                        <div class="alert alert-info" role="alert">
                          Check this out! Portfolio is designed to buy stock once at a time. A stock is bought when mean value of predicted price is smaller than predicted price each day. calculated based on following and is sold when predicted value is bigger than actual bought price.
                        </div>
                    </div>

                </div>
                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Earnings From Random Forest</div>
                                        <div id="rf-profit" class="h5 mb-0 font-weight-bold text-gray-800">$0</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-tree fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Earnings From XGBoost</div>
                                        <div id="xgb-profit" class="h5 mb-0 font-weight-bold text-gray-800">$0</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <div class="col-lg-6 mb-4">

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-info">Portfolio From Random Forest</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable-rf" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Decision</th>
                                                <th>Price</th>
                                                <th>Accumulative Profit</th>
                                            </tr>
                                        </thead>
                                        <tbody id="dataTable-rf-tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-warning">Portfolio From XGBoost</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable-xgb" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Decision</th>
                                                <th>Price</th>
                                                <th>Accumulative Profit</th>
                                            </tr>
                                        </thead>
                                        <tbody id="dataTable-xgb-tbody">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        {% include "footer_part.html" %}


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% include "modals_and_scripts_part.html" %}

<!-- Page level plugins -->
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level plugins -->
<script src="/static/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/static/js/demo/chart-area-demo.js"></script>


<script>
    // Global variables
    table_xgb = $('#dataTable-xgb').DataTable({
        "scrollY": "200px",
        "bDestroy": true,
        columnDefs: [{
            "defaultContent": "-",
            "targets": "_all"
        }],
    })

    table_rf = $('#dataTable-rf').DataTable({
        "scrollY": "200px",
        "bDestroy": true,
        columnDefs: [{
            "defaultContent": "-",
            "targets": "_all"
        }],
    })

    $(function() {
        let myPieChart, myLineChart, myPredictionChart
        let picked_start = "2021-05-01", picked_end = "2021-09-30"
        $('input[name="daterange"]').daterangepicker({
            opens: 'left',
            locale: {
                "format": "YYYY/MM/DD",
                "separator": " - ",
            },
            startDate: "2021/05/01",
            endDate: "2021/09/30",
            minDate: "2021/05/01",
            maxDate: "2021/09/30",
        }, function (start, end, label) {
            picked_start = start.format('YYYY-MM-DD')
            picked_end = end.format('YYYY-MM-DD')

            // let user to select at least a week for machine learning study
            const start_date = new Date(picked_start),
                end_date = new Date(picked_end),
                diffTime = Math.abs(end_date - start_date),
                diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
            // console.log(diffDays)

            if(diffDays < 10) {
                $('#fetch-tweets').prop("disabled", true);
                alert("Please drag at least 10 days to train model for predictive stock price.");
            }
            else {
                $('#fetch-tweets').prop("disabled", false);
                // alert("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            }
        })

        $('#generate-reports').click(function(e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/generate_reports',
                data: {picked_start, picked_end},
                beforeSend: function(){
                    $('#loader').show();
                    $('#main-content').hide();
                },
                complete: function(){
                    $('#loader').hide();
                    $('#main-content').show();
                },
                success: function(data) {
                    // console.log(data)
                    var blob=new Blob([data]);
                    var link=document.createElement('a');
                    link.href=window.URL.createObjectURL(blob);
                    link.download="tweets.csv";
                    link.click();
                }
            })
        })

        let line_options = {
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            legend: {
                display: true
            },
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                intersect: false,
                mode: 'index',
                caretPadding: 10,
                callbacks: {
                    label: function(tooltipItem, chart) {
                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                        return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                    }
                }
            }

        }


        $('#fetch-tweets').click(function(e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: '/visualize_tweet_report',
                data: {picked_start, picked_end},
                beforeSend: function () {
                    $('#loader').show();
                    $('#main-content').hide();
                    console.log(typeof(myPieChart))
                    console.log(typeof(myLineChart))
                    if (myPieChart !== undefined) {
                        console.log('not undefined')
                        myPieChart.destroy()
                        myLineChart.destroy()
                        myPredictionChart.destroy()
                    }

                },
                success: function (data) {
                    // ------------------------------
                    // Table
                    // ------------------------------
                    table_xgb.clear()
                    table_rf.clear()
                    let xgb_objs = JSON.parse(data.xgb_objs),
                        rf_objs = JSON.parse(data.rf_objs)
                    $.each(xgb_objs, function(i, item){
                        table_xgb.row.add([
                            String(item.fields.date).substring(0, 10),
                            (String(item.fields.decision)=='Decision.B') ? 'Buy': 'Sell',
                            '$'+item.fields.price,
                            '$'+item.fields.profit
                        ])

                        if (i == xgb_objs.length - 1)
                            $('#xgb-profit').text('$'+item.fields.profit)
                    })

                    $.each(rf_objs, function(i, item){
                        table_rf.row.add([
                            String(item.fields.date).substring(0, 10),
                            (String(item.fields.decision)=='Decision.B') ? 'Buy': 'Sell',
                            '$'+item.fields.price,
                            '$'+item.fields.profit
                        ])

                        if (i == rf_objs.length - 1)
                            $('#rf-profit').text('$'+item.fields.profit)
                    })


                    // ------------------------------
                    // Chart
                    // ------------------------------
                    var circle_chart = document.getElementById("tweet-circle-chart");
                    myPieChart = new Chart(circle_chart, {
                        type: 'doughnut',
                        data: {
                            labels: ['Positive', 'Neutral', 'Negative'],
                            datasets: [{
                                data: data.ratio_data,
                                backgroundColor: ['#4bb6bf', '#fbb74a', '#f04f52'],
                                hoverBackgroundColor: ['#009aa8', '#db9421', '#eb282c'],
                                hoverBorderColor: "rgba(234, 236, 244, 1)",
                            }],
                        },
                        options: {
                            maintainAspectRatio: false,
                            tooltips: {
                                backgroundColor: "rgb(255,255,255)",
                                bodyFontColor: "#858796",
                                borderColor: '#dddfeb',
                                borderWidth: 1,
                                xPadding: 15,
                                yPadding: 15,
                                displayColors: false,
                                caretPadding: 10,
                            },
                            legend: {
                                display: true
                            },
                            cutoutPercentage: 80,
                        },
                    });

                    let line_chart = $("#finance-chart")[0].getContext("2d");
                    myLineChart = new Chart(line_chart, {
                        type: 'line',
                        data: {
                            labels: data.stock_labels,
                            datasets: [{
                                label: 'Stock index',
                                lineTension: 0.3,
                                backgroundColor: "rgba(78, 115, 223, 0.05)",
                                borderColor: "rgba(78, 115, 223, 1)",
                                pointRadius: 3,
                                pointBackgroundColor: "rgba(78, 115, 223, 1)",
                                pointBorderColor: "rgba(78, 115, 223, 1)",
                                pointHoverRadius: 3,
                                pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                                pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                                pointHitRadius: 10,
                                pointBorderWidth: 2,
                                data: data.stock_data
                            }]
                        },
                        options: line_options
                    })
                    function get_array(model_to_json){
                        let json_obj = JSON.parse(model_to_json)
                        let dates = [], values = []
                        Object.keys(json_obj).forEach(function(key){
                            dates.push(key)
                            values.push(json_obj[key])
                            // console.log(`key is ${key} value is ${rf_real[key]}`)
                        })
                        return [dates, values]
                    }

                    const [dates, rf_real] = get_array(data.rf_real),
                        [dates_, rf_pred] = get_array(data.rf_pred),
                        [dates__, xgb_pred] = get_array(data.xgb_pred)

                    let prediction_chart = $("#prediction-chart")[0].getContext("2d");
                    myPredictionChart = new Chart(prediction_chart, {
                        type: 'line',
                        data: {
                            labels: dates,
                            datasets: [{
                                label: "Real value",
                                fill: false,
                                lineTension: 0.1,
                                backgroundColor: "rgba(78, 115, 223, 1)",
                                borderColor: "rgba(78, 115, 223, 1)", // The main line color
                                borderDash: [], // try [5, 15] for instance
                                borderDashOffset: 0.0,
                                borderJoinStyle: 'miter',
                                pointBorderColor: "rgba(78, 115, 223, 1)",
                                pointBackgroundColor: "rgba(78, 115, 223, 1)",
                                pointBorderWidth: 1,
                                pointHoverRadius: 8,
                                pointHoverBackgroundColor: "rgba(47, 91, 222, 1)",
                                pointHoverBorderColor: "rgba(47, 91, 222, 1)",
                                pointHoverBorderWidth: 2,
                                pointRadius: 4,
                                pointHitRadius: 10,
                                data: rf_real,
                            }, {
                                label: "RandomForest Predicted value",
                                fill: true,
                                lineTension: 0.1,
                                backgroundColor: "rgba(167,105,0,0.4)",
                                borderColor: "rgb(167, 105, 0)",
                                borderCapStyle: 'butt',
                                borderDash: [],
                                borderDashOffset: 0.0,
                                borderJoinStyle: 'miter',
                                pointBorderColor: "rgb(167, 105, 0)",
                                pointBackgroundColor: "rgb(167, 105, 0)",
                                pointBorderWidth: 1,
                                pointHoverRadius: 8,
                                pointHoverBackgroundColor: "rgba(140, 73, 14, 1)",
                                pointHoverBorderColor: "rgba(140, 73, 14, 1)",
                                pointHoverBorderWidth: 2,
                                pointRadius: 4,
                                pointHitRadius: 10,
                                data: rf_pred,

                            }, {
                                label: "XGBoost Predicted value",
                                fill: true,
                                lineTension: 0.1,
                                backgroundColor: "rgba(161, 66, 245,0.4)",
                                borderColor: "rgb(161, 66, 245)",
                                borderCapStyle: 'butt',
                                borderDash: [],
                                borderDashOffset: 0.0,
                                borderJoinStyle: 'miter',
                                pointBorderColor: "rgb(161, 66, 245)",
                                pointBackgroundColor: "rgb(161, 66, 245)",
                                pointBorderWidth: 1,
                                pointHoverRadius: 8,
                                pointHoverBackgroundColor: "rgba(143, 31, 242, 1)",
                                pointHoverBorderColor: "rgba(143, 31, 242, 1)",
                                pointHoverBorderWidth: 2,
                                pointRadius: 4,
                                pointHitRadius: 10,
                                data: xgb_pred,

                            }]
                        },
                        options: line_options
                    });

                },
                complete: function (data) {
                    $('#loader').hide();
                    $('#main-content').show();
                    table_xgb.draw()
                    table_rf.draw()
                    console.log('complete')
                    const rf = (data.responseJSON.rf_accuracy * 100).toFixed(2),
                        xbf = (data.responseJSON.xgb_accuracy * 100).toFixed(2),
                        values = [rf, xbf]

                    values.forEach((val, index) => {
                        let dom
                        if (val === rf) dom = `#rf-accuracy`
                        else dom = `#xgb-accuracy`

                        $(`${dom} span`).text(val+'%')
                        $(`${dom} .progress-bar`).attr('style', `width: ${val}%`)
                        if (val <= 20)
                            $(`${dom} .progress-bar`).attr('class', 'progress-bar bg-danger')
                        else if (val > 20 && val <= 40)
                            $(`${dom} .progress-bar`).attr('class', 'progress-bar bg-warning')
                        else if (val > 40 && val <= 60)
                            $(`${dom} .progress-bar`).attr('class', 'progress-bar')
                        else if (val > 60 && val <= 80)
                            $(`${dom} .progress-bar`).attr('class', 'progress-bar bg-info')
                        else if (val > 80 && val <= 100)
                            $(`${dom} .progress-bar`).attr('class', 'progress-bar bg-success')

                    })
                    console.log(typeof(myPieChart))
                    console.log(typeof(myLineChart))
                },
            })
        })
    });


</script>


</body>

</html>