<!DOCTYPE html>
<html lang="en">

<head>

  {% include "head_part.html" %}

    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include "sidebar_part.html" %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

            {% include "topbar_part.html" %}

                <!-- Begin Page Content -->
                <div id="loader" style="text-align:center; display:none;"><img src="../static/img/loader.gif" alt="loading"></div>
                <div id="main-content" class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Reading Tweets</h1>
                    <p class="mb-4">There are 3 tables provided by each tweet polarity: positive, negative and neutral tables.
                        Due to high volumes of fetched tweets, each table is designed to display maximum 100 tweets ordered by polarity value.
                        When tweet ID is clicked, Twitter will look up the Status ID and automatically redirect you.</p>

                    <div class="row">
                        <div class="input-group mb-4 col-xl-10">
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon">Selected Date</div>
                            </div>
                            <input type="text" name="daterange" class="form-control" aria-label="Input group example" aria-describedby="btnGroupAddon" />
                        </div>
                        <div class="buttons mb-4 col-xl-2">
                            <button href="#" id="fetch-tweets" class="d-none d-sm-inline-block btn btn-middle btn-primary shadow-sm"><i
                                    class="fas fa-download fa-sm text-white-50"></i> Fetch Tweets</button>
                        </div>
                    </div>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Most Positive Tweet DataTable</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable-positive" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tweet ID</th>
                                            <th>Date</th>
                                            <th>Username</th>
                                            <th>Tweet</th>
                                            <th>Polarity</th>
                                        </tr>
                                    </thead>
                                    <tbody id="dataTable-positive-tbody">
                                    {% for tweet in positive_tweets %}
                                        <tr>
                                            <td><a href="https://twitter.com/tweet/status/{{ tweet.id }}">{{ tweet.id}}</a></td>
                                            <td>{{ tweet.created_at }}</td>
                                            <td>{{ tweet.user_name }}</td>
                                            <td>{{ tweet.text }}</td>
                                            <td>{{ tweet.polarity }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Most Negative Tweet DataTable</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable-negative" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tweet ID</th>
                                            <th>Date</th>
                                            <th>Username</th>
                                            <th>Tweet</th>
                                            <th>Polarity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for tweet in negative_tweets %}
                                        <tr>
                                            <td><a href="https://twitter.com/tweet/status/{{ tweet.id }}">{{ tweet.id}}</a></td>
                                            <td>{{ tweet.created_at }}</td>
                                            <td>{{ tweet.user_name }}</td>
                                            <td>{{ tweet.text }}</td>
                                            <td>{{ tweet.polarity }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Most Neutral Tweet DataTable</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable-neutral" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tweet ID</th>
                                            <th>Date</th>
                                            <th>Username</th>
                                            <th>Tweet</th>
                                            <th>Polarity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for tweet in neutral_tweets %}
                                        <tr>
                                            <td><a href="https://twitter.com/tweet/status/{{ tweet.id }}">{{ tweet.id}}</a></td>
                                            <td>{{ tweet.created_at }}</td>
                                            <td>{{ tweet.user_name }}</td>
                                            <td>{{ tweet.text }}</td>
                                            <td>{{ tweet.polarity }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

          {% include "footer_part.html" %}


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

     {% include "modals_and_scripts_part.html" %}

    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/datatables-demo.js"></script>
    <script>
        // Global variables
        table_positive = $('#dataTable-positive').DataTable({
            "scrollY": "200px",
            "bDestroy": true,
            columnDefs: [{
                "defaultContent": "-",
                "targets": "_all"
            }],
            "order": [[ 4, "desc" ]]
        });
        table_negative = $('#dataTable-negative').DataTable({
            "scrollY": "200px",
            "bDestroy": true,
            columnDefs: [{
                "defaultContent": "-",
                "targets": "_all"
            }],
            "order": [[ 4, "asc" ]]
        });
        table_neutral = $('#dataTable-neutral').DataTable({
            "scrollY": "200px",
            "bDestroy": true,
            columnDefs: [{
                "defaultContent": "-",
                "targets": "_all"
            }],
            "order": [[ 4, "desc" ]]
        });
        $(function() {
            let picked_start = "2021-05-01", picked_end = "2021-09-30"
            $('input[name="daterange"]').daterangepicker({
                opens: 'left',
                locale: {
                    "format": "YYYY/MM/DD",
                    "separator": " - ",
                },
                startDate: "2021/05/01",
                endDate: "2021/09/30",
                minDate: "2021/05/01",
                maxDate: "2021/09/30",
            }, function (start, end, label) {
                alert("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                picked_start = start.format('YYYY-MM-DD')
                picked_end = end.format('YYYY-MM-DD')
            })
            $('#fetch-tweets').click(function(e){
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: '/fetch_tweet',
                    data: {picked_start, picked_end},
                    beforeSend: function(){
                        // alert("System is working on your request..")
                        $('#loader').show();
                        $('#main-content').hide();
                    },
                    complete: function(){
                        $('#loader').hide();
                        $('#main-content').show();
                        table_positive.draw()
                        table_negative.draw()
                        table_neutral.draw()
                    },
                    success: function(data) {
                        let count_pos = 0
                        let count_neg = 0
                        let count_neu = 0

                        // console.log(data)

                        table_positive.clear()
                        table_negative.clear()
                        table_neutral.clear()

                        $.each(data, function(i, item) {
                            if (item.fields.polarity > 0 && count_pos < 100) {
                                table_positive.row.add([
                                    `<a href="https://twitter.com/tweet/status/${item.fields.id}">${item.fields.id}</a>`,
                                    item.fields.created_at,
                                    item.fields.user_name,
                                    item.fields.text,
                                    item.fields.polarity
                                ])
                                count_pos += 1

                            } else if (item.fields.polarity < 0 && count_neg < 100) {
                                table_negative.row.add([
                                    `<a href="https://twitter.com/tweet/status/${item.fields.id}">${item.fields.id}</a>`,
                                    item.fields.created_at,
                                    item.fields.user_name,
                                    item.fields.text,
                                    item.fields.polarity
                                ])
                                count_neg += 1
                            }
                            else if (item.fields.polarity == 0 && count_neu < 100){
                                table_neutral.row.add([
                                    `<a href="https://twitter.com/tweet/status/${item.fields.id}">${item.fields.id}</a>`,
                                    item.fields.created_at,
                                    item.fields.user_name,
                                    item.fields.text,
                                    item.fields.polarity
                                ])
                                count_neu += 1
                            }
                            // console.log(count_pos, count_neg, count_neu)

                        })

                    },
                    error: function() {
                        alert('Error');
                    },
                })
            })
        })
    </script>

</body>

</html>