<!DOCTYPE html>
<html lang="en">

<head>

  {% include "head_part.html" %}

    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include "sidebar_part.html" %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

            {% include "topbar_part.html" %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tweets Table</h1>
                    <p class="mb-4">There are 3 tables provided by each tweet polarity: positive, negative and neutral tables.
                        Due to high volumes of fetched tweets, each table is designed to display 100 tweets ordered by polarity value.
                        When tweet ID is clicked, Twitter will look up the Status ID and automatically redirect you.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Most Positive Tweet DataTable</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable-positive" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tweet ID</th>
                                            <th>Date</th>
                                            <th>Username</th>
                                            <th>Tweet</th>
                                            <th>Polarity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for tweet in positive_tweets %}
                                        <tr>
                                            <td><a href="https://twitter.com/tweet/status/{{ tweet.id }}">{{ tweet.id}}</a></td>
                                            <td>{{ tweet.created_at }}</td>
                                            <td>{{ tweet.user_name }}</td>
                                            <td>{{ tweet.text }}</td>
                                            <td>{{ tweet.polarity }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Most Negative Tweet DataTable</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable-negative" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tweet ID</th>
                                            <th>Date</th>
                                            <th>Username</th>
                                            <th>Tweet</th>
                                            <th>Polarity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for tweet in negative_tweets %}
                                        <tr>
                                            <td><a href="https://twitter.com/tweet/status/{{ tweet.id }}">{{ tweet.id}}</a></td>
                                            <td>{{ tweet.created_at }}</td>
                                            <td>{{ tweet.user_name }}</td>
                                            <td>{{ tweet.text }}</td>
                                            <td>{{ tweet.polarity }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Most Neutral Tweet DataTable</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable-neutral" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tweet ID</th>
                                            <th>Date</th>
                                            <th>Username</th>
                                            <th>Tweet</th>
                                            <th>Polarity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for tweet in neutral_tweets %}
                                        <tr>
                                            <td><a href="https://twitter.com/tweet/status/{{ tweet.id }}">{{ tweet.id}}</a></td>
                                            <td>{{ tweet.created_at }}</td>
                                            <td>{{ tweet.user_name }}</td>
                                            <td>{{ tweet.text }}</td>
                                            <td>{{ tweet.polarity }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

          {% include "footer_part.html" %}


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

     {% include "modals_and_scripts_part.html" %}

    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/datatables-demo.js"></script>

</body>

</html>